.form__title {
  font-family: GilroyEB;
  font-size: pxToRem(18px);
  text-transform: uppercase;
  word-spacing: .15rem;
  margin-bottom: 3.5rem;
}

.form__title-span {
  text-transform: lowercase;
  letter-spacing: 1.3px;
}

// Executors
.contract-executors-container {
  margin-bottom: 3.2rem;
  width: 17rem;
}

.contract-executors-container__executor {
  font-family: GilroyR;
  font-size: 14px;
  letter-spacing: .3px;
  margin-bottom: .4rem;
}

.executor-span {
  font-family: GilroyEB;
  font-size: 14px;
  letter-spacing: 0;
  margin-right: .5rem;
}

.executor-label .executor-span {
  display: inline-block;
  padding-top: .5rem;
  margin-right: .8rem;
}

.customer-input {
  display: inline-block;
  width: 70%;
  border: none;
  border-bottom: 1px solid #000;
  &:focus {
    outline: none;
  }
}

.executor-label {
  display: flex;
  width: 100%;
  align-items: center;
}

// MAIN CONTENT
.form__content {
  margin-bottom: 3.2rem;
}

.form__list-title {
  font-family: GilroyEb;
  font-size: pxToRem(14px);
  letter-spacing: .3px;
  margin-bottom: .8rem;
}

.form__list {
  font-family: GilroyR;
  font-size: pxToRem(14px);
  padding-left: .9rem;
  margin-bottom: 1.5rem;
}

.form__list-item {
  letter-spacing: .3px;
  line-height: 1.7;
}

.form__content-text {
  font-family: GilroyR;
  font-size: pxToRem(14px);
  letter-spacing: .3px;
  line-height: 1.4;
  margin-bottom: .8rem;
  width: 98%;
  &:last-child {
    margin-bottom: 0;
  }
}

.signature-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.4rem;
  .contract-executors-container {
    margin-bottom: 0;
    width: 51%;
  }
  .executor-label {
    width: 100%;
  }
}

.signature-block__date {
  font-family: GilroyR;
  font-size: pxToRem(14px);
  height: 31px;
}

.signature-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
}

.signature-instance {
  transform: translateY(-5px);
  margin-left: 10px;
  display: none;
}

.access-checkbox-label {
  display: block;
  margin-bottom: 3.5rem;
}

.checkbox-input {
  position: relative;
  display: inline-block;
  margin-right: .4rem;
  outline: none;
  cursor: pointer;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: .1rem;
    width: .7rem;
    height: .7rem;
    outline: 1px solid #000;
    background-color: #fff;
  }
  &:checked::before {
    background-color: #b39c72;
  }
}

.checkbox-input[disabled] {
  cursor: unset;
}

.checkbox-description {
  font-family: GilroyR;
  font-size: pxToRem(14px);
  letter-spacing: .3px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.access-btn {
  text-transform: uppercase;
  font-family: GilroyEB;
  border: none;
  padding: 1.2rem 6.2rem;
  color: #fff;
  letter-spacing: 2.1px;
  background-color: rgb(40, 41, 45);
  box-shadow: 0 0 18px 9px #ccc;
  cursor: pointer;
  &[disabled] {
    cursor: unset;
    background-color: #c9c9c9;
    box-shadow: 0 0 20px 0 #c9c9c9;
    &:hover {
      background-color: #c9c9c9;
      box-shadow: 0 0 20px 0 #c9c9c9;
    }
  }
  &:hover {
    transition: all .3s;
    background-color: rgb(28, 84, 233);
    box-shadow: 0 0 33.6px 1.4px rgba(28,84,233,.8);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__akt-number {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__title {
    text-align: center;
  }

  .executor-label {
    width: 100%;
  }

  .signature-block .contract-executors-container {
    width: 100%;
  }

  .signature-block {
    display: flex;
    flex-direction: column;
  }

  .access-btn {
    padding: 1rem 3.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .signature-block {
    display: flex;
    flex-direction: column;
  }

  .signature-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .signature-block .contract-executors-container {
    width: 17rem;
  }
}
