@font-face {
  font-family: GilroyEB;
  src: url('fonts/radomir-tinkov-gilroy-extrabold-0.woff') format("woff"),
       url('fonts/radomir-tinkov-gilroy-extrabold-0.woff2') format("woff2");
}

@font-face {
  font-family: GilroyR;
  src: url('fonts/radomir-tinkov-gilroy-light-0.woff') format("woff"),
       url('fonts/radomir-tinkov-gilroy-light-0.woff2') format("woff2");
}
